<div class="title">
  <h2>Zoom-on-Hover images</h2>
</div>
<div class="img-container">
  <div class="img-wrapper">
    <img class="inner-img" src="https://source.unsplash.com/2r2RUsEU1Aw/400x400/" width="400px" height="400px">
  </div>
  <div class="img-wrapper">
    <img class="inner-img" src="https://source.unsplash.com/7pCFUybP_P8/400x400/" width="400px" height="400px">
  </div>
  <div class="img-wrapper">
    <img class="inner-img" src="https://source.unsplash.com/MBsReSZ2WNM/400x400/" width="400px" height="400px">
  </div>
</div>
